@use '@shawnsandy/first-paint/src/styles/dashboard.scss';

[data-dashboard] main {
  width: 100%;
  padding: 1rem;

  @media (min-width: 1280px) {
    article {
      max-width: 75%;
    }
  }


}

[data-sidebar] strong a {
  font-size: 1.1rem;
}
