@use '@shawnsandy/first-paint/src/components.scss';


@include components.button-links();
@include components.form-elements();
@include components.header-addBorders();
@include components.elements-pre();


a[role=button]>em {
  filter: contrast(1.15);
}

header>section[role=banner] {
  @media (min-width: 980px) {
    max-width: 70%;
  }
}

strong {
  font-weight: 500;
}

[aria-label=feature] {

  ul {
    margin-left: .9rem;
    list-style: disc;
    margin-bottom: 1rem;

    li+li {
      margin-top: .5rem;
    }
  }

  blockquote {
    padding: 3rem 0;
  }
}

nav {
  @media (min-width: 980px) {
    //align-items: center;
  }
}
