<!-- load the critical styles inline -->
{% set css %} {% include "src/css/critical.css" %} {% endset %}
<!-- feed it through our cssmin filter to minify -->
<style>
  {{ css | cssmin | safe }}
</style>
