{% for content in collections[category] | reverse %}
<article>
  <time datetime="{{ page.date }}">
    Posted: {{ page.date.toDateString() }}
  </time>
  <h3 id="{{ content.data.title | slug }}">
    <a href="{{ content.url }}">{{ content.data.title }}</a>
  </h3>
  <p>{{ content.data.summary }}</p>
  <footer>
    <a href="{{ content.url }}" role="button">
      <em>Continue reading</em>
    </a>
  </footer>
  <hr />
</article>
{% endfor %}
