<footer role="contentinfo">
  <section>
    <aside>
      <h5>
        <a href="/" aria-label="Site logo">
          <!-- <img src="/img/fp.svg" alt=""> -->
          <!-- <span aria-label="logo text">{{ pkg.app.name }}</span> -->
          {% include 'partials/brand.njk' %}
        </a>
      </h5>
    </aside>
    <aside>
      <!-- <h6 id="navigate">Navigate</h6> -->
      <span>
         {% set navPages = collections.all | eleventyNavigation %}
        <ul>
          {%- for entry in navPages %}
          <li>
            <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
          </li>
          {%- endfor %}
        </ul>
      </span>
    </aside>
  </section>
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero rerum eius
      facere, architecto at, soluta recusandae, iusto tenetur doloremque minima
      rem velit officiis error quod expedita officia amet provident dolorem.
    </p>

  </section>
  {% if env.node_env == 'development' %}
  <div style="text-align: center;">
    <p>
      {{env.node_env}}
    </p>
  </div>
  {% endif %}
</footer>
