<section role="banner">
  <div>
    <h3>
      {{ pkg.description }}
    </h3>
    <a href="/docs" role="button" title="Read the documentation"
      ><em>Get Started</em></a
    >
  </div>
</section>
