<section role="banner">
  <div>
    <h2>
      {{ settings.subtitle }}
    </h2>
    <a href="/developers/01/" role="button" title="Read the documentation"
      ><em>Get Started</em></a
    >
  </div>
</section>
