<nav data-mobile aria-label="Main navigation">
  <section>
     <section data-show-mobile>
      <a
        role="button"
        aria-label="Navigation button"
        href="#sidebar"
        data-sidebar-button
      >
        <small>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="24"
              height="24"
            >
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M3 4h18v2H3V4zm0 7h18v2H3v-2zm0 7h18v2H3v-2z" />
            </svg>
          </span>
        </small>
      </a>
    </section>
  <section data-brand>
    <h1>
      {% include 'partials/brand.njk' %}
    </h1>
  </section>
 </section>

  {% set navPages = collections.all | eleventyNavigation %}

  <section id="sidebar">
    <ul>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    {% if env.developer_mode  %}
    <li><a href="/core-docs">Pages Docs</a></li>
    {% endif %}
    <li>
        <div data-show-mobile>
          <a href="#">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="24"
                height="24"
              >
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                  d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
                />
              </svg>
            </span>
          </a>
        </div>
      </li>
    </ul>
  </section>
</nav>
