<nav role="navigation" aria-label="Main navigation">
  <section>
    <h1>
      <a href="/" aria-label="Site logo"> Cover </a>
    </h1>
  </section>


  {% set navPages = collections.all | eleventyNavigation %}
  <section>
  {%- for entry in navPages %}

      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>

  {%- endfor %}

  </section>

</nav>
