<nav role="navigation" aria-label="Main navigation">
  <section>
    <h1>
      {% include 'partials/brand.njk' %}
    </h1>
  </section>


  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
  {%- for entry in navPages %}
    <li>
      <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
    </li>
  {%- endfor %}
  </ul>

</nav>
