<span>
  <ul>
    {% for content in collections[recentCategory] | reverse %}
    <li id="{{ content.data.title | slug }}">
      <a href="{{ content.url }}">{{ content.data.title }}</a>
    </li>
    {% endfor %}
  </ul>
</span>
