<h5>Recent Posts</h5>
{% set recentCategory = "posts" %} {% include 'partials/recent-widget.njk' %}

<h5>Recent Articles</h5>
{% set recentCategory = "contents" %} {% include 'partials/recent-widget.njk' %}
