{% extends "_Layout.njk" %}
<!-- head -->
{% block head %}{{ super() }} {% endblock %}
<!-- cover -->
{% block cover %} {% endblock %}
<!-- content -->
{% block content %}
<main>
  <section>
    {{ content | safe }}
  </section>
  <aside>{% include "partials/sidebar.njk" %}</aside>
</main>
{% endblock %}
