{% extends "page.njk" %}
<!--  -->
{% block content %}
<!--  -->
<section>
  {% for content in collections[category]| reverse %}
  <article>
    <p>{{ content.data.summary }}</p>
    <hr />
  </article>
  {% endfor %}
</section>
<!--  -->
{% endblock %}
