{% extends "base.njk" %}
<!-- cover -->
{% block cover %} {% include "partials/hero.njk" %}
<hr />
{% include "partials/feature-section.njk" %} {% endblock %}
<!-- content -->
{% block content %}
{{ super() }}
{% endblock %}
<!-- sidebar -->
