---
title: Contact Us
scripts: ["/js/min/form.js"]
eleventyNavigation:
  key: Contact Us
  order: 5
---

<h4>Contact Info</h4>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid ut delectus
  accusamus commodi officia fugit sequi? Quisquam deleniti, atque natus
  inventore exercitationem voluptatem eius facilis maxime itaque, esse molestias
  recusandae.
</p>

{% if env.form_provider == "netlify" %}
<div>{% include 'partials/contact.njk' %}</div>
{% elif env.form_provider == "web3forms" %}
<div>{% include 'partials/webform-contact.njk' %}</div>
{% else %}
<hr />
<p>
  Thanks you message, feedback, questions or suggestions, someone form our team
  will review your email and respond as soon as possible.
</p>
<hr />
{% endif %}

<!-- recaptcha form -->
{% set recaptcha %}
<script src="https://www.google.com/recaptcha/api.js?render={{
    env.recaptcha_key
  }}"></script>
<script>
  grecaptcha.ready(function () {
    grecaptcha
      .execute("{{ env.recaptcha_key }}", {
        action: "contact",
      })
      .then(function (token) {
        recaptchaResponse.value = token;
      });
  });
</script>
{% endset %}
