---
layout: "page.njk"
title: "Components"
scripts: []
stylesheets: []
languages: ["html", "css", "markdown"]
---

<!--  -->
{% for data in components.entities %}
<article class="{{ data.class }} line-numbers">
  <!-- no display -->
  <h3 id="{{ data.name | slug }}">{{ data.name | capitalize }}</h3>
  {% if data['ext-com_adobe-cclib'].id %}
  <figure class="py-5">
    <img
      src="/system/dsp/assets/{{ data['ext-com_adobe-cclib'].id }}.svg"
      alt="Component"
    />
  </figure>
  {% endif %}
  <p>{{ data.description or "" }}</p>

  <span>
    <ul>
      <li>DSP Trigger: {{ data.trigger or "n/a" }}</li>
      <li>Last updated: {{ data.last_updated }}</li>
      <!-- <li>Language: {{ data.snippets.languages }}</li> -->
    </ul>
  </span>
  <p></p>
  {% if data.snippets.languages.html %}
  <!-- <hr /> -->
  <aside class="html">
    <pre
      class=""
    ><code class="language-html" tabindex="0">{{ data.snippets.languages["html"] }}</code></pre>
  </aside>
  {% endif %}
</article>
<!--  -->
{% endfor %}
