<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>title</title>
    <meta name="description" content="title" />
    <meta name="author" content="author" />
    <script
      src="https://kit.fontawesome.com/e2ffdf4c70.js"
      crossorigin="anonymous"
    ></script>
    <!-- load the critical styles inline -->
    {% set css %} {% include "src/css/cover-page.css" %} {% endset %}
    <!-- feed it through our cssmin filter to minify -->
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <header>
      {% include 'partials/nav.njk' %}
      <section role="banner">
        <div>
          <!-- <img src="img/fp.svg" alt="" /> -->
          <h2>Lightweight, Fast, Accessible, Inclusive</h2>
          <p>
            <span
              >First Paint is lightweight easy to use CSS/SCSS starter library
              for quickly scaffolding/building modern, mobile friendly
              websites.</span
            >
          </p>
          <p>
            <a
              href="#"
              role="button"
              aria-label="Add word, cta action, to your button title"
            >
              <em>Get Started</em></a
            >
          </p>
        </div>
      </section>
    </header>
    <footer role="contentinfo">
      <section>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit?</p>
        </div>
      </section>
    </footer>
    <!-- <script src="index.js"></script> -->
  </body>
</html>
